<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375815412704-e48jluq7lrdb1u1ogivqqc7j8f5hn446.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375815412704-e48jluq7lrdb1u1ogivqqc7j8f5hn446</string>
	<key>API_KEY</key>
	<string>AIzaSyB6AgPewwxpUuob3ITGxSAITuHmbzaLp38</string>
	<key>GCM_SENDER_ID</key>
	<string>375815412704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hvaandres.starving</string>
	<key>PROJECT_ID</key>
	<string>starving-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>starving-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375815412704:ios:dc1c847ab8d4c4fa9d6985</string>
</dict>
</plist>